openapi: 3.0.0
info:
  title: Razorpay Bills X Payout Links API
  version: 1.0.0
  description: Razorpay payment gateway APIs for accepting payments, managing orders, processing refunds, payouts, and subscriptions. All amounts are in the smallest currency sub-unit (e.g. paise for INR). Supports 180+ payment methods including UPI, cards, netbanking, wallets, and EMI.
  termsOfService: https://razorpay.com/terms/
  contact:
    name: Razorpay Support
    url: https://razorpay.com/support/
    email: support@razorpay.com
  license:
    name: Proprietary
    url: https://razorpay.com/terms/
  x-logo:
    url: https://razorpay.com/favicon.png
  x-auth-environments:
    test:
      keyPrefix: rzp_test_
      description: Test mode — keys prefixed rzp_test_. Same API endpoint (https://api.razorpay.com/v1). No real money movement. Use test card numbers from https://razorpay.com/docs/payments/payments/test-card-details/.
    live:
      keyPrefix: rzp_live_
      description: Live mode — keys prefixed rzp_live_. Real money movement. Requires KYC and business activation on the Razorpay Dashboard.
servers:
- url: https://api.razorpay.com/v1
  description: Production
security:
- basicAuth: []
- oauth2:
  - read_only
tags:
- name: X Payout Links
  description: Payout links for recipients without saved fund accounts
paths:
  /payout-links:
    post:
      operationId: createPayoutLink
      summary: Create a payout link
      description: Send a payout link to a contact when fund account details are unavailable. expire_by must be at least 15 minutes in the future.
      tags:
      - X Payout Links
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - contact_id
              - amount
              - currency
              - purpose
              properties:
                contact_id:
                  type: string
                amount:
                  type: integer
                  description: Amount in paise
                currency:
                  type: string
                  enum:
                  - INR
                purpose:
                  type: string
                description:
                  type: string
                receipt:
                  type: string
                send_sms:
                  type: boolean
                send_email:
                  type: boolean
                notes:
                  type: object
                expire_by:
                  type: integer
                  description: Unix timestamp; must be ≥15 minutes from now
      responses:
        '200':
          description: Payout link created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutLink'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    get:
      operationId: listPayoutLinks
      summary: List payout links
      tags:
      - X Payout Links
      parameters:
      - name: contact_id
        in: query
        schema:
          type: string
        description: Filter payout links by the contact ID of the recipient.
      - name: from
        in: query
        schema:
          type: integer
        description: Unix timestamp. Only payout links created from this timestamp onwards are returned.
      - name: to
        in: query
        schema:
          type: integer
        description: Unix timestamp. Only payout links created before this timestamp are returned.
      - name: count
        in: query
        schema:
          type: integer
          default: 10
        description: 'Number of payout links to return. Default: 10.'
      - name: skip
        in: query
        schema:
          type: integer
          default: 0
        description: 'Number of payout links to skip. Use for pagination. Default: 0.'
      responses:
        '200':
          description: List of payout links
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity:
                    type: string
                    enum:
                    - collection
                  count:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/PayoutLink'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      description: List all payout links. Filter by contact ID, status, or date range.
  /payout-links/{payout_link_id}:
    parameters:
    - name: payout_link_id
      in: path
      required: true
      schema:
        type: string
      description: Unique identifier of the payout link (e.g. `poutlk_00000000000001`).
    get:
      operationId: fetchPayoutLink
      summary: Fetch a payout link
      tags:
      - X Payout Links
      responses:
        '200':
          description: Payout link details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutLink'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '404':
          $ref: '#/components/responses/404'
      description: Fetch details of a specific payout link by its ID.
  /payout-links/{payout_link_id}/cancel:
    parameters:
    - name: payout_link_id
      in: path
      required: true
      schema:
        type: string
      description: Unique identifier of the payout link to cancel.
    post:
      operationId: cancelPayoutLink
      summary: Cancel a payout link
      tags:
      - X Payout Links
      responses:
        '200':
          description: Payout link cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutLink'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      description: Cancel a payout link that is in `issued` or `pending` state.
components:
  responses:
    '404':
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '400':
      description: Bad request. Invalid parameters or missing required fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '401':
      description: Authentication failed. Invalid or missing API key credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '500':
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '429':
      description: Rate limit exceeded. Implement exponential backoff with jitter before retrying.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    PayoutLink:
      type: object
      description: Payout link sent to a contact when fund account details are unavailable.
      properties:
        id:
          type: string
          description: Payout link ID (poutlk_*)
        entity:
          type: string
          enum:
          - payout_link
        contact_id:
          type: string
        contact:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
            contact:
              type: string
            type:
              type: string
        amount:
          type: integer
          description: Amount in paise
        currency:
          type: string
        purpose:
          type: string
        status:
          type: string
          enum:
          - pending
          - issued
          - processing
          - processed
          - cancelled
          - rejected
        fund_account_id:
          type: string
        payout_id:
          type: string
        description:
          type: string
        receipt:
          type: string
        notes:
          type: object
        send_sms:
          type: boolean
        send_email:
          type: boolean
        short_url:
          type: string
        attempt_count:
          type: integer
        created_at:
          type: integer
        cancelled_at:
          type: integer
        expire_by:
          type: integer
          description: Must be at least 15 minutes in the future
        expired_at:
          type: integer
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: 'Error code. Examples: BAD_REQUEST_ERROR, GATEWAY_ERROR, SERVER_ERROR.'
            description:
              type: string
            source:
              type: string
              description: Where the error originated (e.g. business, gateway).
            step:
              type: string
            reason:
              type: string
              description: 'Machine-readable reason. Examples: insufficient_funds, invalid_expiry_date, declined_by_bank.'
            metadata:
              type: object
            field:
              type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your Razorpay API key pair. Use key_id as the username and key_secret as the password. Encode as Base64(key_id:key_secret). Keys are environment-scoped (Test vs Live). Obtain keys at https://dashboard.razorpay.com/app/keys. Keys are case-sensitive.
    oauth2:
      type: oauth2
      description: OAuth 2.0 via the Razorpay MCP server (mcp.razorpay.com). Supports Authorization Code with PKCE (S256) for user-delegated access and Client Credentials for server-to-server access. Tokens expire in 3600 seconds. Dynamic Client Registration available at the registration endpoint. For integration setup see https://razorpay.com/docs/build/llm-docs/mcp-server/oauth.md.
      flows:
        authorizationCode:
          authorizationUrl: https://mcp.razorpay.com/authorize
          tokenUrl: https://mcp.razorpay.com/token
          refreshUrl: https://mcp.razorpay.com/token
          scopes:
            read_only: Read-only access to Razorpay account data (payments, orders, refunds, payouts, subscriptions, invoices)
        clientCredentials:
          tokenUrl: https://mcp.razorpay.com/token
          scopes:
            read_only: Read-only access to Razorpay account data (payments, orders, refunds, payouts, subscriptions, invoices)
externalDocs:
  description: Razorpay API Documentation
  url: https://razorpay.com/docs/api/
x-tagGroups:
- name: Core Payments
  tags:
  - Orders
  - Payments
  - Refunds
  - Payment Downtimes
- name: Payment Collection
  tags:
  - Payment Links
  - QR Codes
- name: Billing & Subscriptions
  tags:
  - Items
  - Invoices
  - Plans
  - Subscriptions
- name: Customer Management
  tags:
  - Customers
  - Documents
- name: Finance & Reconciliation
  tags:
  - Settlements
  - Instant Settlements
  - Disputes
- name: Route & Marketplace
  tags:
  - Linked Accounts
  - Transfers
- name: Smart Collect
  tags:
  - Virtual Accounts
- name: Partners & Onboarding
  tags:
  - Partner Accounts
  - Partner Products
  - Partner Stakeholders
  - Partner Documents
  - Partner Webhooks
- name: Bills
  tags:
  - Bills
- name: RazorpayX
  tags:
  - X Contacts
  - X Fund Accounts
  - X Account Validation
  - X Banking Balances
  - X Payouts
  - X Payout Links
  - X Transactions
x-rateLimit:
  description: Razorpay does not publish specific rate limits. If you receive HTTP 429, implement exponential backoff with jitter and retry. Add randomisation to avoid thundering-herd effects.
  throttleStatus: 429
  strategy: exponential backoff with jitter
x-pagination:
  description: All list endpoints return at most 100 records per call (1000 for settlement recon). Use count and skip together to paginate. Date range filters (from/to) use Unix timestamps in seconds.
  example: GET /payments?from=1700000000&to=1700086400&count=100&skip=100
x-amountEncoding:
  description: 'All monetary amounts are in the smallest currency sub-unit. For INR: 1 rupee = 100 paise, so ₹500 = 50000. Minimum for INR is 100 paise (₹1). Three-decimal currencies (KWD, BHD, OMR): drop last decimal digit. Zero-decimal currencies (JPY): pass value as-is.'
