openapi: 3.0.0
info:
  title: Razorpay Bills Payments API
  version: 1.0.0
  description: Razorpay payment gateway APIs for accepting payments, managing orders, processing refunds, payouts, and subscriptions. All amounts are in the smallest currency sub-unit (e.g. paise for INR). Supports 180+ payment methods including UPI, cards, netbanking, wallets, and EMI.
  termsOfService: https://razorpay.com/terms/
  contact:
    name: Razorpay Support
    url: https://razorpay.com/support/
    email: support@razorpay.com
  license:
    name: Proprietary
    url: https://razorpay.com/terms/
  x-logo:
    url: https://razorpay.com/favicon.png
  x-auth-environments:
    test:
      keyPrefix: rzp_test_
      description: Test mode — keys prefixed rzp_test_. Same API endpoint (https://api.razorpay.com/v1). No real money movement. Use test card numbers from https://razorpay.com/docs/payments/payments/test-card-details/.
    live:
      keyPrefix: rzp_live_
      description: Live mode — keys prefixed rzp_live_. Real money movement. Requires KYC and business activation on the Razorpay Dashboard.
servers:
- url: https://api.razorpay.com/v1
  description: Production
security:
- basicAuth: []
- oauth2:
  - read_only
tags:
- name: Payments
  description: A payment is created when a customer completes checkout. Payments can be auto-captured or manually captured. Fetch payment details to reconcile and diagnose failures.
paths:
  /payments:
    get:
      operationId: fetchAllPayments
      summary: Fetch all payments
      description: Retrieve a paginated list of payments. Maximum 100 per call.
      tags:
      - Payments
      parameters:
      - $ref: '#/components/parameters/from'
      - $ref: '#/components/parameters/to'
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/skip'
      responses:
        '200':
          description: Collection of payments.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Collection'
                - properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /payments/{id}:
    get:
      operationId: fetchPayment
      summary: Fetch payment by ID
      description: Retrieve full details and current status of a specific payment. Always re-fetch before acting — status can change.
      tags:
      - Payments
      parameters:
      - name: id
        in: path
        required: true
        description: Payment ID (pay_*).
        schema:
          type: string
      responses:
        '200':
          description: Payment details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    patch:
      operationId: updatePayment
      summary: Update a payment
      description: Update the notes field of a payment. Only notes can be modified.
      tags:
      - Payments
      parameters:
      - name: id
        in: path
        required: true
        description: Payment ID (pay_*).
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - notes
              properties:
                notes:
                  $ref: '#/components/schemas/Notes'
      responses:
        '200':
          description: Updated payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /payments/{id}/capture:
    post:
      operationId: capturePayment
      summary: Capture a payment
      description: Capture an authorized payment to collect funds. Must be called within the capture window (default 5 days). Amount must exactly equal authorized amount unless partial capture is enabled.
      tags:
      - Payments
      parameters:
      - name: id
        in: path
        required: true
        description: Payment ID (pay_*). Must be in 'authorized' status.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              - currency
              properties:
                amount:
                  type: integer
                  description: Amount to capture in paise. Must equal authorized amount unless partial capture is enabled.
                currency:
                  type: string
                  default: INR
            example:
              amount: 50000
              currency: INR
      responses:
        '200':
          description: Payment captured. Status changes to 'captured'.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
components:
  schemas:
    AcquirerData:
      type: object
      properties:
        rrn:
          type: string
          description: Bank RRN (Retrieval Reference Number).
        authentication_reference_number:
          type: string
        bank_transaction_id:
          type: string
        transaction_id:
          type: string
    Notes:
      type: object
      description: Key-value pairs for storing custom metadata. Maximum 15 pairs. Each key and value must not exceed 256 characters.
      additionalProperties:
        type: string
      maxProperties: 15
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: 'Error code. Examples: BAD_REQUEST_ERROR, GATEWAY_ERROR, SERVER_ERROR.'
            description:
              type: string
            source:
              type: string
              description: Where the error originated (e.g. business, gateway).
            step:
              type: string
            reason:
              type: string
              description: 'Machine-readable reason. Examples: insufficient_funds, invalid_expiry_date, declined_by_bank.'
            metadata:
              type: object
            field:
              type: string
    CardDetails:
      type: object
      properties:
        id:
          type: string
          description: Card token identifier (card_*).
        entity:
          type: string
        name:
          type: string
          description: Cardholder name.
        last4:
          type: string
          description: Last 4 digits of the card number.
        network:
          type: string
          description: 'Card network. Examples: Visa, MasterCard, RuPay, Amex.'
        type:
          type: string
          description: 'Card type: credit or debit.'
        issuer:
          type: string
          description: 4-character code of the issuing bank.
        emi:
          type: boolean
          description: Whether EMI is available on this card.
        sub_type:
          type: string
          description: Card sub-type (e.g. consumer, corporate).
    Payment:
      type: object
      properties:
        id:
          type: string
          description: 'Unique payment identifier. Prefix: pay_'
        entity:
          type: string
          enum:
          - payment
        amount:
          type: integer
          description: Payment amount in paise.
        currency:
          type: string
        status:
          type: string
          enum:
          - created
          - authorized
          - captured
          - refunded
          - failed
          description: 'created: initiated. authorized: bank approved, not yet captured. captured: funds collected. refunded: fully refunded. failed: transaction failed.'
        order_id:
          type: string
          description: Associated order ID (order_*).
        invoice_id:
          type: string
        international:
          type: boolean
        method:
          type: string
          enum:
          - card
          - netbanking
          - wallet
          - emi
          - upi
        amount_refunded:
          type: integer
          description: Total refunded amount in paise.
        refund_status:
          type: string
          enum:
          - 'null'
          - partial
          - full
        captured:
          type: boolean
        description:
          type: string
        card_id:
          type: string
        card:
          $ref: '#/components/schemas/CardDetails'
        bank:
          type: string
          description: 'Bank code for netbanking. Example: HDFC.'
        wallet:
          type: string
          description: 'Wallet name. Examples: paytm, mobikwik.'
        vpa:
          type: string
        upi:
          $ref: '#/components/schemas/UpiDetails'
        email:
          type: string
        contact:
          type: string
        customer_id:
          type: string
        token_id:
          type: string
        notes:
          $ref: '#/components/schemas/Notes'
        fee:
          type: integer
          description: Razorpay fee charged (paise).
        tax:
          type: integer
          description: GST on the fee (paise).
        error_code:
          type: string
        error_description:
          type: string
        error_source:
          type: string
        error_step:
          type: string
        error_reason:
          type: string
        acquirer_data:
          $ref: '#/components/schemas/AcquirerData'
        created_at:
          type: integer
    UpiDetails:
      type: object
      properties:
        payer_account_type:
          type: string
        vpa:
          type: string
          description: 'Customer UPI VPA (Virtual Payment Address). Example: user@upi.'
        flow:
          type: string
          description: 'UPI flow used: collect, intent, or in_app.'
    Collection:
      type: object
      properties:
        entity:
          type: string
          enum:
          - collection
        count:
          type: integer
          description: Number of items in the current page.
        items:
          type: array
          items: {}
  parameters:
    from:
      name: from
      in: query
      description: Unix timestamp (seconds). Fetch records created on or after this time.
      schema:
        type: integer
    to:
      name: to
      in: query
      description: Unix timestamp (seconds). Fetch records created on or before this time.
      schema:
        type: integer
    skip:
      name: skip
      in: query
      description: Number of records to skip. Use with count for pagination. Default 0.
      schema:
        type: integer
        minimum: 0
        default: 0
    count:
      name: count
      in: query
      description: Number of records to return per call. Maximum 100. Default 10.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
  responses:
    '429':
      description: Rate limit exceeded. Implement exponential backoff with jitter before retrying.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '404':
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '400':
      description: Bad request. Invalid parameters or missing required fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '401':
      description: Authentication failed. Invalid or missing API key credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your Razorpay API key pair. Use key_id as the username and key_secret as the password. Encode as Base64(key_id:key_secret). Keys are environment-scoped (Test vs Live). Obtain keys at https://dashboard.razorpay.com/app/keys. Keys are case-sensitive.
    oauth2:
      type: oauth2
      description: OAuth 2.0 via the Razorpay MCP server (mcp.razorpay.com). Supports Authorization Code with PKCE (S256) for user-delegated access and Client Credentials for server-to-server access. Tokens expire in 3600 seconds. Dynamic Client Registration available at the registration endpoint. For integration setup see https://razorpay.com/docs/build/llm-docs/mcp-server/oauth.md.
      flows:
        authorizationCode:
          authorizationUrl: https://mcp.razorpay.com/authorize
          tokenUrl: https://mcp.razorpay.com/token
          refreshUrl: https://mcp.razorpay.com/token
          scopes:
            read_only: Read-only access to Razorpay account data (payments, orders, refunds, payouts, subscriptions, invoices)
        clientCredentials:
          tokenUrl: https://mcp.razorpay.com/token
          scopes:
            read_only: Read-only access to Razorpay account data (payments, orders, refunds, payouts, subscriptions, invoices)
externalDocs:
  description: Razorpay API Documentation
  url: https://razorpay.com/docs/api/
x-tagGroups:
- name: Core Payments
  tags:
  - Orders
  - Payments
  - Refunds
  - Payment Downtimes
- name: Payment Collection
  tags:
  - Payment Links
  - QR Codes
- name: Billing & Subscriptions
  tags:
  - Items
  - Invoices
  - Plans
  - Subscriptions
- name: Customer Management
  tags:
  - Customers
  - Documents
- name: Finance & Reconciliation
  tags:
  - Settlements
  - Instant Settlements
  - Disputes
- name: Route & Marketplace
  tags:
  - Linked Accounts
  - Transfers
- name: Smart Collect
  tags:
  - Virtual Accounts
- name: Partners & Onboarding
  tags:
  - Partner Accounts
  - Partner Products
  - Partner Stakeholders
  - Partner Documents
  - Partner Webhooks
- name: Bills
  tags:
  - Bills
- name: RazorpayX
  tags:
  - X Contacts
  - X Fund Accounts
  - X Account Validation
  - X Banking Balances
  - X Payouts
  - X Payout Links
  - X Transactions
x-rateLimit:
  description: Razorpay does not publish specific rate limits. If you receive HTTP 429, implement exponential backoff with jitter and retry. Add randomisation to avoid thundering-herd effects.
  throttleStatus: 429
  strategy: exponential backoff with jitter
x-pagination:
  description: All list endpoints return at most 100 records per call (1000 for settlement recon). Use count and skip together to paginate. Date range filters (from/to) use Unix timestamps in seconds.
  example: GET /payments?from=1700000000&to=1700086400&count=100&skip=100
x-amountEncoding:
  description: 'All monetary amounts are in the smallest currency sub-unit. For INR: 1 rupee = 100 paise, so ₹500 = 50000. Minimum for INR is 100 paise (₹1). Three-decimal currencies (KWD, BHD, OMR): drop last decimal digit. Zero-decimal currencies (JPY): pass value as-is.'
