openapi: 3.0.0
info:
  title: Razorpay Bills Partner Accounts API
  version: 1.0.0
  description: Razorpay payment gateway APIs for accepting payments, managing orders, processing refunds, payouts, and subscriptions. All amounts are in the smallest currency sub-unit (e.g. paise for INR). Supports 180+ payment methods including UPI, cards, netbanking, wallets, and EMI.
  termsOfService: https://razorpay.com/terms/
  contact:
    name: Razorpay Support
    url: https://razorpay.com/support/
    email: support@razorpay.com
  license:
    name: Proprietary
    url: https://razorpay.com/terms/
  x-logo:
    url: https://razorpay.com/favicon.png
  x-auth-environments:
    test:
      keyPrefix: rzp_test_
      description: Test mode — keys prefixed rzp_test_. Same API endpoint (https://api.razorpay.com/v1). No real money movement. Use test card numbers from https://razorpay.com/docs/payments/payments/test-card-details/.
    live:
      keyPrefix: rzp_live_
      description: Live mode — keys prefixed rzp_live_. Real money movement. Requires KYC and business activation on the Razorpay Dashboard.
servers:
- url: https://api.razorpay.com/v1
  description: Production
security:
- basicAuth: []
- oauth2:
  - read_only
tags:
- name: Partner Accounts
  description: Sub-merchant account lifecycle management via Partners API (Aggregator/Platform model). Uses OAuth access_token authentication.
paths:
  /v2/accounts/{account_id}:
    get:
      operationId: fetchLinkedAccount
      summary: Fetch a Linked Account
      description: 'Retrieve the details of a Linked Account by its ID. Also used in Partners API to fetch sub-merchant account details (authentication: OAuth access_token).'
      tags:
      - Partner Accounts
      parameters:
      - name: account_id
        in: path
        required: true
        description: Linked Account ID (acc_*).
        schema:
          type: string
      responses:
        '200':
          description: Linked Account details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedAccount'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    patch:
      operationId: updateLinkedAccount
      summary: Update a Linked Account
      description: Update mutable fields of a Linked Account. email and business_type cannot be changed after creation.
      tags:
      - Partner Accounts
      parameters:
      - name: account_id
        in: path
        required: true
        description: Linked Account ID (acc_*).
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                legal_business_name:
                  type: string
                profile:
                  type: object
                legal_info:
                  type: object
                contact_name:
                  type: string
                contact_info:
                  type: object
                apps:
                  type: object
                notes:
                  $ref: '#/components/schemas/Notes'
      responses:
        '200':
          description: Linked Account updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedAccount'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    delete:
      operationId: deletePartnerAccount
      summary: Delete (suspend) a sub-merchant account
      description: 'Suspend a sub-merchant account created via Partners API. Sets account status to ''suspended'' and returns suspended_at timestamp. Authentication: OAuth access_token as username with empty password.'
      tags:
      - Partner Accounts
      security:
      - basicAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Account ID with prefix acc_
      responses:
        '200':
          description: Account suspended
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: string
                    enum:
                    - suspended
                  suspended_at:
                    type: integer
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '404':
          $ref: '#/components/responses/404'
components:
  schemas:
    Notes:
      type: object
      description: Key-value pairs for storing custom metadata. Maximum 15 pairs. Each key and value must not exceed 256 characters.
      additionalProperties:
        type: string
      maxProperties: 15
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: 'Error code. Examples: BAD_REQUEST_ERROR, GATEWAY_ERROR, SERVER_ERROR.'
            description:
              type: string
            source:
              type: string
              description: Where the error originated (e.g. business, gateway).
            step:
              type: string
            reason:
              type: string
              description: 'Machine-readable reason. Examples: insufficient_funds, invalid_expiry_date, declined_by_bank.'
            metadata:
              type: object
            field:
              type: string
    LinkedAccount:
      type: object
      description: 'A sub-merchant (Linked Account) created under a Route marketplace account. Linked Accounts can receive transfers and settlements. Prefix: acc_'
      properties:
        id:
          type: string
          description: 'Account ID. Prefix: acc_'
        type:
          type: string
          enum:
          - route
          description: Account type. Always 'route' for Route marketplace accounts.
        status:
          type: string
          enum:
          - created
          - suspended
          description: Account status.
        email:
          type: string
          description: Contact email. Cannot be updated after creation.
        phone:
          type: string
          description: Contact phone number with country code (e.g., +919876543210).
        legal_business_name:
          type: string
          description: Registered legal name of the business.
        business_type:
          type: string
          enum:
          - route
          description: Business type. Cannot be updated after creation.
        profile:
          type: object
          properties:
            category:
              type: string
              description: Business category (e.g., healthcare, education, ecommerce).
            subcategory:
              type: string
              description: Business subcategory.
            addresses:
              type: object
              properties:
                registered:
                  type: object
                  properties:
                    street1:
                      type: string
                    street2:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    postal_code:
                      type: string
                    country:
                      type: string
                operation:
                  type: object
                  properties:
                    street1:
                      type: string
                    street2:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    postal_code:
                      type: string
                    country:
                      type: string
        legal_info:
          type: object
          properties:
            pan:
              type: string
              description: Business PAN number.
            gst:
              type: string
              description: GST number (22 chars).
        contact_name:
          type: string
          description: Name of the primary contact person.
        contact_info:
          type: object
          properties:
            chargeback:
              type: object
              properties:
                email:
                  type: string
                phone:
                  type: string
                policy_url:
                  type: string
            refund:
              type: object
              properties:
                email:
                  type: string
                phone:
                  type: string
                policy_url:
                  type: string
            support:
              type: object
              properties:
                email:
                  type: string
                phone:
                  type: string
                policy_url:
                  type: string
        apps:
          type: object
          properties:
            websites:
              type: array
              items:
                type: string
            android:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                  name:
                    type: string
            ios:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                  name:
                    type: string
        notes:
          $ref: '#/components/schemas/Notes'
        created_at:
          type: integer
  responses:
    '404':
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '400':
      description: Bad request. Invalid parameters or missing required fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '401':
      description: Authentication failed. Invalid or missing API key credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '500':
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '429':
      description: Rate limit exceeded. Implement exponential backoff with jitter before retrying.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your Razorpay API key pair. Use key_id as the username and key_secret as the password. Encode as Base64(key_id:key_secret). Keys are environment-scoped (Test vs Live). Obtain keys at https://dashboard.razorpay.com/app/keys. Keys are case-sensitive.
    oauth2:
      type: oauth2
      description: OAuth 2.0 via the Razorpay MCP server (mcp.razorpay.com). Supports Authorization Code with PKCE (S256) for user-delegated access and Client Credentials for server-to-server access. Tokens expire in 3600 seconds. Dynamic Client Registration available at the registration endpoint. For integration setup see https://razorpay.com/docs/build/llm-docs/mcp-server/oauth.md.
      flows:
        authorizationCode:
          authorizationUrl: https://mcp.razorpay.com/authorize
          tokenUrl: https://mcp.razorpay.com/token
          refreshUrl: https://mcp.razorpay.com/token
          scopes:
            read_only: Read-only access to Razorpay account data (payments, orders, refunds, payouts, subscriptions, invoices)
        clientCredentials:
          tokenUrl: https://mcp.razorpay.com/token
          scopes:
            read_only: Read-only access to Razorpay account data (payments, orders, refunds, payouts, subscriptions, invoices)
externalDocs:
  description: Razorpay API Documentation
  url: https://razorpay.com/docs/api/
x-tagGroups:
- name: Core Payments
  tags:
  - Orders
  - Payments
  - Refunds
  - Payment Downtimes
- name: Payment Collection
  tags:
  - Payment Links
  - QR Codes
- name: Billing & Subscriptions
  tags:
  - Items
  - Invoices
  - Plans
  - Subscriptions
- name: Customer Management
  tags:
  - Customers
  - Documents
- name: Finance & Reconciliation
  tags:
  - Settlements
  - Instant Settlements
  - Disputes
- name: Route & Marketplace
  tags:
  - Linked Accounts
  - Transfers
- name: Smart Collect
  tags:
  - Virtual Accounts
- name: Partners & Onboarding
  tags:
  - Partner Accounts
  - Partner Products
  - Partner Stakeholders
  - Partner Documents
  - Partner Webhooks
- name: Bills
  tags:
  - Bills
- name: RazorpayX
  tags:
  - X Contacts
  - X Fund Accounts
  - X Account Validation
  - X Banking Balances
  - X Payouts
  - X Payout Links
  - X Transactions
x-rateLimit:
  description: Razorpay does not publish specific rate limits. If you receive HTTP 429, implement exponential backoff with jitter and retry. Add randomisation to avoid thundering-herd effects.
  throttleStatus: 429
  strategy: exponential backoff with jitter
x-pagination:
  description: All list endpoints return at most 100 records per call (1000 for settlement recon). Use count and skip together to paginate. Date range filters (from/to) use Unix timestamps in seconds.
  example: GET /payments?from=1700000000&to=1700086400&count=100&skip=100
x-amountEncoding:
  description: 'All monetary amounts are in the smallest currency sub-unit. For INR: 1 rupee = 100 paise, so ₹500 = 50000. Minimum for INR is 100 paise (₹1). Three-decimal currencies (KWD, BHD, OMR): drop last decimal digit. Zero-decimal currencies (JPY): pass value as-is.'
