openapi: 3.0.0
info:
  title: Razorpay Bills Partner Documents API
  version: 1.0.0
  description: Razorpay payment gateway APIs for accepting payments, managing orders, processing refunds, payouts, and subscriptions. All amounts are in the smallest currency sub-unit (e.g. paise for INR). Supports 180+ payment methods including UPI, cards, netbanking, wallets, and EMI.
  termsOfService: https://razorpay.com/terms/
  contact:
    name: Razorpay Support
    url: https://razorpay.com/support/
    email: support@razorpay.com
  license:
    name: Proprietary
    url: https://razorpay.com/terms/
  x-logo:
    url: https://razorpay.com/favicon.png
  x-auth-environments:
    test:
      keyPrefix: rzp_test_
      description: Test mode — keys prefixed rzp_test_. Same API endpoint (https://api.razorpay.com/v1). No real money movement. Use test card numbers from https://razorpay.com/docs/payments/payments/test-card-details/.
    live:
      keyPrefix: rzp_live_
      description: Live mode — keys prefixed rzp_live_. Real money movement. Requires KYC and business activation on the Razorpay Dashboard.
servers:
- url: https://api.razorpay.com/v1
  description: Production
security:
- basicAuth: []
- oauth2:
  - read_only
tags:
- name: Partner Documents
  description: Upload and fetch KYC documents for sub-merchant accounts and their stakeholders.
paths:
  /v2/accounts/{account_id}/documents:
    post:
      operationId: uploadAccountDocuments
      summary: Upload KYC documents for a sub-merchant account
      description: 'Upload KYC documents for business identity and address verification. Multipart form upload. JPG/PNG max 4MB, PDF max 2MB. Authentication: OAuth access_token.'
      tags:
      - Partner Documents
      security:
      - basicAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier of the linked merchant account (e.g. `acc_00000000000001`).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                document_type:
                  type: string
                  enum:
                  - business_proof_url
                  - gst_certificate
                  - shop_establishment_certificate
                  - certificate_of_incorporation
                  - trust_deed
                  - society_registration_certificate
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Document uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDocument'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    get:
      operationId: fetchAccountDocuments
      summary: Fetch KYC documents for a sub-merchant account
      description: 'Retrieve all KYC documents uploaded for a sub-merchant account. Authentication: OAuth access_token.'
      tags:
      - Partner Documents
      security:
      - basicAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier of the linked merchant account (e.g. `acc_00000000000001`).
      responses:
        '200':
          description: Account documents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDocument'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '404':
          $ref: '#/components/responses/404'
  /v2/accounts/{account_id}/stakeholders/{stakeholder_id}/documents:
    post:
      operationId: uploadStakeholderDocuments
      summary: Upload KYC documents for a stakeholder
      description: 'Upload identity and address verification documents for a stakeholder. Supports PAN, Aadhaar (front/back), passport (front/back), voter ID (front/back). Multipart form upload. JPG/PNG max 4MB, PDF max 2MB. Authentication: OAuth access_token.'
      tags:
      - Partner Documents
      security:
      - basicAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier of the linked merchant account (e.g. `acc_00000000000001`).
      - name: stakeholder_id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier of the stakeholder (e.g. `sth_00000000000001`).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                document_type:
                  type: string
                  enum:
                  - personal_pan
                  - aadhar_front
                  - aadhar_back
                  - passport_front
                  - passport_back
                  - voter_id_front
                  - voter_id_back
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Document uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StakeholderDocument'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    get:
      operationId: fetchStakeholderDocuments
      summary: Fetch KYC documents for a stakeholder
      description: 'Retrieve all KYC documents uploaded for a specific stakeholder. Authentication: OAuth access_token.'
      tags:
      - Partner Documents
      security:
      - basicAuth: []
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier of the linked merchant account (e.g. `acc_00000000000001`).
      - name: stakeholder_id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier of the stakeholder (e.g. `sth_00000000000001`).
      responses:
        '200':
          description: Stakeholder documents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StakeholderDocument'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '404':
          $ref: '#/components/responses/404'
components:
  schemas:
    AccountDocument:
      type: object
      description: KYC documents for a sub-merchant account. Files must be JPG/PNG (max 4MB) or PDF (max 2MB).
      properties:
        business_proof_of_identification:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - business_proof_url
                - gst_certificate
                - shop_establishment_certificate
                - certificate_of_incorporation
                - trust_deed
                - society_registration_certificate
              document_id:
                type: string
        business_proof_of_address:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              document_id:
                type: string
    StakeholderDocument:
      type: object
      description: KYC documents for a stakeholder. Supports PAN, Aadhaar, passport, and voter ID. Files must be JPG/PNG (max 4MB) or PDF (max 2MB).
      properties:
        individual_proof_of_address:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - aadhar_front
                - aadhar_back
                - passport_front
                - passport_back
                - voter_id_front
                - voter_id_back
              url:
                type: string
              document_id:
                type: string
        individual_proof_of_identification:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - personal_pan
              url:
                type: string
              document_id:
                type: string
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: 'Error code. Examples: BAD_REQUEST_ERROR, GATEWAY_ERROR, SERVER_ERROR.'
            description:
              type: string
            source:
              type: string
              description: Where the error originated (e.g. business, gateway).
            step:
              type: string
            reason:
              type: string
              description: 'Machine-readable reason. Examples: insufficient_funds, invalid_expiry_date, declined_by_bank.'
            metadata:
              type: object
            field:
              type: string
  responses:
    '404':
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '400':
      description: Bad request. Invalid parameters or missing required fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '401':
      description: Authentication failed. Invalid or missing API key credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '500':
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '429':
      description: Rate limit exceeded. Implement exponential backoff with jitter before retrying.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your Razorpay API key pair. Use key_id as the username and key_secret as the password. Encode as Base64(key_id:key_secret). Keys are environment-scoped (Test vs Live). Obtain keys at https://dashboard.razorpay.com/app/keys. Keys are case-sensitive.
    oauth2:
      type: oauth2
      description: OAuth 2.0 via the Razorpay MCP server (mcp.razorpay.com). Supports Authorization Code with PKCE (S256) for user-delegated access and Client Credentials for server-to-server access. Tokens expire in 3600 seconds. Dynamic Client Registration available at the registration endpoint. For integration setup see https://razorpay.com/docs/build/llm-docs/mcp-server/oauth.md.
      flows:
        authorizationCode:
          authorizationUrl: https://mcp.razorpay.com/authorize
          tokenUrl: https://mcp.razorpay.com/token
          refreshUrl: https://mcp.razorpay.com/token
          scopes:
            read_only: Read-only access to Razorpay account data (payments, orders, refunds, payouts, subscriptions, invoices)
        clientCredentials:
          tokenUrl: https://mcp.razorpay.com/token
          scopes:
            read_only: Read-only access to Razorpay account data (payments, orders, refunds, payouts, subscriptions, invoices)
externalDocs:
  description: Razorpay API Documentation
  url: https://razorpay.com/docs/api/
x-tagGroups:
- name: Core Payments
  tags:
  - Orders
  - Payments
  - Refunds
  - Payment Downtimes
- name: Payment Collection
  tags:
  - Payment Links
  - QR Codes
- name: Billing & Subscriptions
  tags:
  - Items
  - Invoices
  - Plans
  - Subscriptions
- name: Customer Management
  tags:
  - Customers
  - Documents
- name: Finance & Reconciliation
  tags:
  - Settlements
  - Instant Settlements
  - Disputes
- name: Route & Marketplace
  tags:
  - Linked Accounts
  - Transfers
- name: Smart Collect
  tags:
  - Virtual Accounts
- name: Partners & Onboarding
  tags:
  - Partner Accounts
  - Partner Products
  - Partner Stakeholders
  - Partner Documents
  - Partner Webhooks
- name: Bills
  tags:
  - Bills
- name: RazorpayX
  tags:
  - X Contacts
  - X Fund Accounts
  - X Account Validation
  - X Banking Balances
  - X Payouts
  - X Payout Links
  - X Transactions
x-rateLimit:
  description: Razorpay does not publish specific rate limits. If you receive HTTP 429, implement exponential backoff with jitter and retry. Add randomisation to avoid thundering-herd effects.
  throttleStatus: 429
  strategy: exponential backoff with jitter
x-pagination:
  description: All list endpoints return at most 100 records per call (1000 for settlement recon). Use count and skip together to paginate. Date range filters (from/to) use Unix timestamps in seconds.
  example: GET /payments?from=1700000000&to=1700086400&count=100&skip=100
x-amountEncoding:
  description: 'All monetary amounts are in the smallest currency sub-unit. For INR: 1 rupee = 100 paise, so ₹500 = 50000. Minimum for INR is 100 paise (₹1). Three-decimal currencies (KWD, BHD, OMR): drop last decimal digit. Zero-decimal currencies (JPY): pass value as-is.'
