{
  "openapi": "3.0.0",
  "info": {
    "title": "Razorpay API",
    "version": "1.0.0",
    "description": "Razorpay payment gateway APIs for accepting payments, managing orders, processing refunds, payouts, and subscriptions. All amounts are in the smallest currency sub-unit (e.g. paise for INR). Supports 180+ payment methods including UPI, cards, netbanking, wallets, and EMI.",
    "termsOfService": "https://razorpay.com/terms/",
    "contact": {
      "name": "Razorpay Support",
      "url": "https://razorpay.com/support/",
      "email": "support@razorpay.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://razorpay.com/terms/"
    },
    "x-logo": {
      "url": "https://razorpay.com/favicon.png"
    },
    "x-auth-environments": {
      "test": {
        "keyPrefix": "rzp_test_",
        "description": "Test mode \u2014 keys prefixed rzp_test_. Same API endpoint (https://api.razorpay.com/v1). No real money movement. Use test card numbers from https://razorpay.com/docs/payments/payments/test-card-details/."
      },
      "live": {
        "keyPrefix": "rzp_live_",
        "description": "Live mode \u2014 keys prefixed rzp_live_. Real money movement. Requires KYC and business activation on the Razorpay Dashboard."
      }
    }
  },
  "externalDocs": {
    "description": "Razorpay API Documentation",
    "url": "https://razorpay.com/docs/api/"
  },
  "servers": [
    {
      "url": "https://api.razorpay.com/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "basicAuth": []
    },
    {
      "oauth2": [
        "read_only"
      ]
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic authentication using your Razorpay API key pair. Use key_id as the username and key_secret as the password. Encode as Base64(key_id:key_secret). Keys are environment-scoped (Test vs Live). Obtain keys at https://dashboard.razorpay.com/app/keys. Keys are case-sensitive."
      },
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 via the Razorpay MCP server (mcp.razorpay.com). Supports Authorization Code with PKCE (S256) for user-delegated access and Client Credentials for server-to-server access. Tokens expire in 3600 seconds. Dynamic Client Registration available at the registration endpoint. For integration setup see https://razorpay.com/docs/build/llm-docs/mcp-server/oauth.md.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://mcp.razorpay.com/authorize",
            "tokenUrl": "https://mcp.razorpay.com/token",
            "refreshUrl": "https://mcp.razorpay.com/token",
            "scopes": {
              "read_only": "Read-only access to Razorpay account data (payments, orders, refunds, payouts, subscriptions, invoices)"
            }
          },
          "clientCredentials": {
            "tokenUrl": "https://mcp.razorpay.com/token",
            "scopes": {
              "read_only": "Read-only access to Razorpay account data (payments, orders, refunds, payouts, subscriptions, invoices)"
            }
          }
        }
      }
    },
    "parameters": {
      "from": {
        "name": "from",
        "in": "query",
        "description": "Unix timestamp (seconds). Fetch records created on or after this time.",
        "schema": {
          "type": "integer"
        }
      },
      "to": {
        "name": "to",
        "in": "query",
        "description": "Unix timestamp (seconds). Fetch records created on or before this time.",
        "schema": {
          "type": "integer"
        }
      },
      "count": {
        "name": "count",
        "in": "query",
        "description": "Number of records to return per call. Maximum 100. Default 10.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 10
        }
      },
      "skip": {
        "name": "skip",
        "in": "query",
        "description": "Number of records to skip. Use with count for pagination. Default 0.",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        }
      }
    },
    "schemas": {
      "Notes": {
        "type": "object",
        "description": "Key-value pairs for storing custom metadata. Maximum 15 pairs. Each key and value must not exceed 256 characters.",
        "additionalProperties": {
          "type": "string"
        },
        "maxProperties": 15
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code. Examples: BAD_REQUEST_ERROR, GATEWAY_ERROR, SERVER_ERROR."
              },
              "description": {
                "type": "string"
              },
              "source": {
                "type": "string",
                "description": "Where the error originated (e.g. business, gateway)."
              },
              "step": {
                "type": "string"
              },
              "reason": {
                "type": "string",
                "description": "Machine-readable reason. Examples: insufficient_funds, invalid_expiry_date, declined_by_bank."
              },
              "metadata": {
                "type": "object"
              },
              "field": {
                "type": "string"
              }
            }
          }
        }
      },
      "Collection": {
        "type": "object",
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "collection"
            ]
          },
          "count": {
            "type": "integer",
            "description": "Number of items in the current page."
          },
          "items": {
            "type": "array",
            "items": {}
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique order identifier. Prefix: order_"
          },
          "entity": {
            "type": "string",
            "enum": [
              "order"
            ]
          },
          "amount": {
            "type": "integer",
            "description": "Order amount in paise. Example: 50000 = \u20b9500."
          },
          "amount_paid": {
            "type": "integer",
            "description": "Total amount paid against this order (paise)."
          },
          "amount_due": {
            "type": "integer",
            "description": "Remaining unpaid amount (paise)."
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code. Example: INR."
          },
          "receipt": {
            "type": "string",
            "description": "Your internal receipt or order reference number."
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "attempted",
              "paid"
            ],
            "description": "created: awaiting payment. attempted: payment attempted but not captured. paid: fully paid."
          },
          "attempts": {
            "type": "integer",
            "description": "Number of payment attempts made."
          },
          "notes": {
            "$ref": "#/components/schemas/Notes"
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp of order creation."
          },
          "offer_id": {
            "type": "string"
          },
          "offers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CardDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Card token identifier (card_*)."
          },
          "entity": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Cardholder name."
          },
          "last4": {
            "type": "string",
            "description": "Last 4 digits of the card number."
          },
          "network": {
            "type": "string",
            "description": "Card network. Examples: Visa, MasterCard, RuPay, Amex."
          },
          "type": {
            "type": "string",
            "description": "Card type: credit or debit."
          },
          "issuer": {
            "type": "string",
            "description": "4-character code of the issuing bank."
          },
          "emi": {
            "type": "boolean",
            "description": "Whether EMI is available on this card."
          },
          "sub_type": {
            "type": "string",
            "description": "Card sub-type (e.g. consumer, corporate)."
          }
        }
      },
      "UpiDetails": {
        "type": "object",
        "properties": {
          "payer_account_type": {
            "type": "string"
          },
          "vpa": {
            "type": "string",
            "description": "Customer UPI VPA (Virtual Payment Address). Example: user@upi."
          },
          "flow": {
            "type": "string",
            "description": "UPI flow used: collect, intent, or in_app."
          }
        }
      },
      "AcquirerData": {
        "type": "object",
        "properties": {
          "rrn": {
            "type": "string",
            "description": "Bank RRN (Retrieval Reference Number)."
          },
          "authentication_reference_number": {
            "type": "string"
          },
          "bank_transaction_id": {
            "type": "string"
          },
          "transaction_id": {
            "type": "string"
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique payment identifier. Prefix: pay_"
          },
          "entity": {
            "type": "string",
            "enum": [
              "payment"
            ]
          },
          "amount": {
            "type": "integer",
            "description": "Payment amount in paise."
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "authorized",
              "captured",
              "refunded",
              "failed"
            ],
            "description": "created: initiated. authorized: bank approved, not yet captured. captured: funds collected. refunded: fully refunded. failed: transaction failed."
          },
          "order_id": {
            "type": "string",
            "description": "Associated order ID (order_*)."
          },
          "invoice_id": {
            "type": "string"
          },
          "international": {
            "type": "boolean"
          },
          "method": {
            "type": "string",
            "enum": [
              "card",
              "netbanking",
              "wallet",
              "emi",
              "upi"
            ]
          },
          "amount_refunded": {
            "type": "integer",
            "description": "Total refunded amount in paise."
          },
          "refund_status": {
            "type": "string",
            "enum": [
              "null",
              "partial",
              "full"
            ]
          },
          "captured": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "card_id": {
            "type": "string"
          },
          "card": {
            "$ref": "#/components/schemas/CardDetails"
          },
          "bank": {
            "type": "string",
            "description": "Bank code for netbanking. Example: HDFC."
          },
          "wallet": {
            "type": "string",
            "description": "Wallet name. Examples: paytm, mobikwik."
          },
          "vpa": {
            "type": "string"
          },
          "upi": {
            "$ref": "#/components/schemas/UpiDetails"
          },
          "email": {
            "type": "string"
          },
          "contact": {
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "notes": {
            "$ref": "#/components/schemas/Notes"
          },
          "fee": {
            "type": "integer",
            "description": "Razorpay fee charged (paise)."
          },
          "tax": {
            "type": "integer",
            "description": "GST on the fee (paise)."
          },
          "error_code": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          },
          "error_source": {
            "type": "string"
          },
          "error_step": {
            "type": "string"
          },
          "error_reason": {
            "type": "string"
          },
          "acquirer_data": {
            "$ref": "#/components/schemas/AcquirerData"
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "DowntimeInstrument": {
        "type": "object",
        "properties": {
          "bank": {
            "type": "string"
          },
          "network": {
            "type": "string"
          },
          "issuer": {
            "type": "string"
          },
          "psp": {
            "type": "string"
          },
          "vpa_handle": {
            "type": "string"
          },
          "card_type": {
            "type": "string"
          },
          "flow": {
            "type": "string"
          }
        }
      },
      "PaymentDowntime": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "entity": {
            "type": "string",
            "enum": [
              "payment.downtime"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "card",
              "netbanking",
              "upi"
            ]
          },
          "begin": {
            "type": "integer"
          },
          "end": {
            "type": [
              "integer",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "started",
              "resolved",
              "updated"
            ]
          },
          "scheduled": {
            "type": "boolean"
          },
          "severity": {
            "type": "string",
            "enum": [
              "high",
              "medium",
              "low"
            ]
          },
          "instrument": {
            "$ref": "#/components/schemas/DowntimeInstrument"
          },
          "created_at": {
            "type": "integer"
          },
          "updated_at": {
            "type": "integer"
          }
        }
      },
      "Refund": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique refund identifier. Prefix: rfnd_"
          },
          "entity": {
            "type": "string",
            "enum": [
              "refund"
            ]
          },
          "amount": {
            "type": "integer",
            "description": "Refund amount in paise."
          },
          "currency": {
            "type": "string"
          },
          "payment_id": {
            "type": "string",
            "description": "The original payment ID (pay_*)."
          },
          "notes": {
            "$ref": "#/components/schemas/Notes"
          },
          "receipt": {
            "type": "string",
            "description": "Your internal reference identifier."
          },
          "acquirer_data": {
            "type": "object",
            "description": "Bank reference numbers for tracking: RRN (UPI/netbanking), ARN (cards), UTR (NEFT/RTGS).",
            "properties": {
              "arn": {
                "type": "string"
              },
              "rrn": {
                "type": "string"
              },
              "utr": {
                "type": "string"
              }
            }
          },
          "created_at": {
            "type": "integer"
          },
          "batch_id": {
            "type": "string",
            "description": "Set if refund was part of a batch upload."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processed",
              "failed"
            ],
            "description": "pending: being processed. processed: credited to customer. failed: refund failed."
          },
          "speed_requested": {
            "type": "string",
            "enum": [
              "normal",
              "optimum"
            ],
            "description": "normal: 5-7 business days. optimum: instant if available, falls back to normal."
          },
          "speed_processed": {
            "type": "string",
            "enum": [
              "instant",
              "normal"
            ],
            "description": "Actual processing mode used."
          }
        }
      },
      "Settlement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique settlement identifier. Prefix: setl_"
          },
          "entity": {
            "type": "string",
            "enum": [
              "settlement"
            ]
          },
          "amount": {
            "type": "integer",
            "description": "Settlement amount in paise."
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "processed",
              "failed"
            ]
          },
          "fees": {
            "type": "integer",
            "description": "Processing fees charged (typically 0 for normal settlements)."
          },
          "tax": {
            "type": "integer",
            "description": "Tax on fees (paise)."
          },
          "utr": {
            "type": "string",
            "description": "Unique Transaction Reference (UTR) number for bank tracking."
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "SettlementReconRecord": {
        "type": "object",
        "description": "A single transaction line item in the settlement reconciliation report.",
        "properties": {
          "entity_id": {
            "type": "string",
            "description": "ID of the transaction entity (payment, refund, etc.)."
          },
          "settlement_id": {
            "type": "string"
          },
          "order_id": {
            "type": "string"
          },
          "payment_id": {
            "type": "string"
          },
          "dispute_id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "payment",
              "refund",
              "transfer",
              "adjustment"
            ]
          },
          "amount": {
            "type": "integer"
          },
          "debit": {
            "type": "integer"
          },
          "credit": {
            "type": "integer"
          },
          "fee": {
            "type": "integer"
          },
          "tax": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "settled": {
            "type": "boolean"
          },
          "on_hold": {
            "type": "boolean"
          },
          "created_at": {
            "type": "integer"
          },
          "settled_at": {
            "type": "integer"
          },
          "posted_at": {
            "type": "integer"
          },
          "card_network": {
            "type": "string"
          },
          "card_issuer": {
            "type": "string"
          },
          "card_type": {
            "type": "string"
          },
          "settlement_utr": {
            "type": "string"
          },
          "order_receipt": {
            "type": "string"
          },
          "credit_type": {
            "type": "string"
          }
        }
      },
      "InstantSettlementPayout": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "entity": {
            "type": "string",
            "enum": [
              "settlement.ondemand_payout"
            ]
          },
          "initiated_at": {
            "type": "integer"
          },
          "processed_at": {
            "type": "integer"
          },
          "reversed_at": {
            "type": "integer"
          },
          "amount": {
            "type": "integer"
          },
          "amount_settled": {
            "type": "integer"
          },
          "fees": {
            "type": "integer"
          },
          "tax": {
            "type": "integer"
          },
          "utr": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "initiated",
              "processed",
              "reversed"
            ]
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "InstantSettlement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique instant settlement identifier. Prefix: setlod_"
          },
          "entity": {
            "type": "string",
            "enum": [
              "settlement.ondemand"
            ]
          },
          "amount_requested": {
            "type": "integer",
            "description": "Settlement amount requested (paise)."
          },
          "amount_settled": {
            "type": "integer",
            "description": "Total amount transferred minus fees and tax (paise)."
          },
          "amount_pending": {
            "type": "integer",
            "description": "Portion of requested amount yet to be settled (paise)."
          },
          "amount_reversed": {
            "type": "integer",
            "description": "Amount returned to PG balance (paise)."
          },
          "fees": {
            "type": "integer",
            "description": "Combined fees and tax deducted (paise)."
          },
          "tax": {
            "type": "integer",
            "description": "Tax on fee component (paise)."
          },
          "currency": {
            "type": "string"
          },
          "settle_full_balance": {
            "type": "boolean",
            "description": "If true, settles maximum available balance."
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "initiated",
              "partially_processed",
              "processed",
              "reversed"
            ]
          },
          "description": {
            "type": "string",
            "description": "Custom reference note. Max 30 alphanumeric characters."
          },
          "notes": {
            "$ref": "#/components/schemas/Notes"
          },
          "created_at": {
            "type": "integer"
          },
          "ondemand_payouts": {
            "type": "object",
            "description": "Collection of individual payout records for this instant settlement.",
            "properties": {
              "entity": {
                "type": "string",
                "enum": [
                  "collection"
                ]
              },
              "count": {
                "type": "integer"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InstantSettlementPayout"
                }
              }
            }
          }
        }
      },
      "DisputeEvidence": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Contested amount in currency subunits."
          },
          "summary": {
            "type": "string",
            "description": "Your explanation of why the dispute should be resolved in your favour. Max 1000 characters."
          },
          "shipping_proof": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Document IDs proving product shipment."
          },
          "billing_proof": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Order confirmation document IDs."
          },
          "cancellation_proof": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "customer_communication": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "proof_of_service": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "explanation_letter": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "refund_confirmation": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "access_activity_log": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "refund_cancellation_policy": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "term_and_conditions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "others": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "submitted_at": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Unix timestamp of last evidence submission. Null for drafts."
          }
        }
      },
      "Dispute": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique dispute identifier. Prefix: disp_"
          },
          "entity": {
            "type": "string",
            "enum": [
              "dispute"
            ]
          },
          "payment_id": {
            "type": "string",
            "description": "The payment against which the dispute was raised (pay_*)."
          },
          "amount": {
            "type": "integer",
            "description": "Disputed amount in currency subunits."
          },
          "currency": {
            "type": "string"
          },
          "amount_deducted": {
            "type": "integer",
            "description": "Amount deducted from your balance when dispute is lost."
          },
          "reason_code": {
            "type": "string",
            "description": "Code identifying the dispute reason."
          },
          "reason_description": {
            "type": "string",
            "description": "Human-readable explanation of the dispute cause."
          },
          "respond_by": {
            "type": "integer",
            "description": "Unix timestamp by which you must respond. Missing this forfeits the dispute."
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "under_review",
              "won",
              "lost",
              "closed"
            ],
            "description": "open: action required. under_review: evidence submitted, awaiting bank decision. won: resolved in your favour. lost: resolved against you. closed: resolved without chargeback."
          },
          "phase": {
            "type": "string",
            "enum": [
              "fraud",
              "retrieval",
              "chargeback",
              "pre_arbitration",
              "arbitration"
            ],
            "description": "Escalation stage of the dispute process."
          },
          "created_at": {
            "type": "integer"
          },
          "evidence": {
            "$ref": "#/components/schemas/DisputeEvidence"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique customer identifier. Prefix: cust_"
          },
          "entity": {
            "type": "string",
            "enum": [
              "customer"
            ]
          },
          "name": {
            "type": "string",
            "description": "Customer name. 3-50 characters. Allowed: alphanumeric, period, apostrophe, forward slash, @, parentheses."
          },
          "contact": {
            "type": "string",
            "description": "Phone number. Max 15 characters. Include country code (e.g. +919876543210). Minimum 8 digits."
          },
          "email": {
            "type": "string",
            "description": "Email address. Max 64 characters."
          },
          "gstin": {
            "type": "string",
            "description": "Goods and Services Tax Identification Number (optional)."
          },
          "notes": {
            "$ref": "#/components/schemas/Notes"
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp of customer creation."
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique document identifier. Example: doc_EsyWjHrfzb59Re. Always 14 alphanumeric characters."
          },
          "entity": {
            "type": "string",
            "enum": [
              "document"
            ]
          },
          "name": {
            "type": "string",
            "description": "Filename of the uploaded document."
          },
          "mime_type": {
            "type": "string",
            "enum": [
              "image/jpg",
              "image/jpeg",
              "image/png",
              "application/pdf"
            ],
            "description": "MIME type of the uploaded file."
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes."
          },
          "purpose": {
            "type": "string",
            "description": "Upload reason. Example: dispute_evidence."
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp of upload."
          }
        }
      },
      "PaymentLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique payment link identifier. Prefix: plink_"
          },
          "entity": {
            "type": "string",
            "enum": [
              "payment_link"
            ]
          },
          "amount": {
            "type": "integer",
            "description": "Payment amount in smallest currency unit (paise for INR). Three-decimal currencies (KWD, BHD, OMR): drop last decimal digit (e.g. 295.991 KWD \u2192 295990). Zero-decimal currencies (JPY): pass value as-is."
          },
          "amount_paid": {
            "type": "integer",
            "description": "Total amount paid by customer."
          },
          "currency": {
            "type": "string",
            "default": "INR",
            "description": "ISO 4217 currency code. UPI Payment Links only support INR."
          },
          "accept_partial": {
            "type": "boolean",
            "description": "Allow partial payments. Not supported for UPI links."
          },
          "first_min_partial_amount": {
            "type": "integer",
            "description": "Minimum amount required for the first partial payment."
          },
          "description": {
            "type": "string",
            "description": "Brief description. Max 2048 characters."
          },
          "reference_id": {
            "type": "string",
            "description": "Your unique tracking reference. Max 40 characters. Must be unique per link."
          },
          "expire_by": {
            "type": "integer",
            "description": "Unix timestamp when link expires. Default: 6 months from creation. Must be at least 15 minutes in the future."
          },
          "expired_at": {
            "type": "integer",
            "description": "Unix timestamp when link actually expired."
          },
          "cancelled_at": {
            "type": "integer",
            "description": "Unix timestamp when link was cancelled."
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "partially_paid",
              "expired",
              "cancelled",
              "paid"
            ],
            "description": "created: awaiting payment. partially_paid: one or more partial payments received. expired: past expiry with no full payment. cancelled: manually cancelled. paid: fully paid."
          },
          "upi_link": {
            "type": "boolean",
            "description": "true if this is a UPI Payment Link, false for standard."
          },
          "short_url": {
            "type": "string",
            "description": "Shareable short URL for the payment link."
          },
          "callback_url": {
            "type": "string",
            "description": "Redirect URL after payment completion."
          },
          "callback_method": {
            "type": "string",
            "enum": [
              "get"
            ]
          },
          "customer": {
            "type": "object",
            "description": "Customer contact details. These are not auto-populated on the checkout page \u2014 customer must enter them manually.",
            "properties": {
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "contact": {
                "type": "string"
              }
            }
          },
          "notify": {
            "type": "object",
            "properties": {
              "sms": {
                "type": "boolean",
                "description": "true: Razorpay sends SMS notification. false: merchant handles."
              },
              "email": {
                "type": "boolean",
                "description": "true: Razorpay sends email notification. false: merchant handles."
              }
            }
          },
          "reminder_enable": {
            "type": "boolean",
            "description": "Send automatic payment reminders."
          },
          "payments": {
            "type": "array",
            "description": "Captured payment records. Populated only after successful payment capture.",
            "items": {
              "type": "object",
              "properties": {
                "amount": {
                  "type": "integer"
                },
                "payment_id": {
                  "type": "string"
                },
                "plink_id": {
                  "type": "string"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "netbanking",
                    "card",
                    "wallet",
                    "upi",
                    "emi",
                    "bank_transfer"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "captured"
                  ]
                },
                "created_at": {
                  "type": "integer"
                },
                "updated_at": {
                  "type": "integer"
                }
              }
            }
          },
          "notes": {
            "$ref": "#/components/schemas/Notes"
          },
          "order_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string",
            "description": "Identifier for the user role that created the link."
          },
          "created_at": {
            "type": "integer"
          },
          "updated_at": {
            "type": "integer"
          }
        }
      },
      "QrCode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique QR code identifier. Prefix: qr_"
          },
          "entity": {
            "type": "string",
            "enum": [
              "qr_code"
            ]
          },
          "name": {
            "type": "string",
            "description": "Label for the QR code."
          },
          "description": {
            "type": "string"
          },
          "image_url": {
            "type": "string",
            "description": "Hosted URL of the QR code image."
          },
          "payment_amount": {
            "type": "integer",
            "description": "Fixed payment amount in paise. Null for variable-amount QR codes."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "closed"
            ]
          },
          "usage_type": {
            "type": "string",
            "enum": [
              "single_use",
              "multiple_use"
            ]
          },
          "close_by": {
            "type": "integer",
            "description": "Unix timestamp when the QR code will auto-close."
          },
          "closed_at": {
            "type": "integer",
            "description": "Unix timestamp when the QR code was closed."
          },
          "close_reason": {
            "type": "string",
            "enum": [
              "on_demand",
              "paid"
            ],
            "description": "Why the QR code was closed."
          },
          "customer_id": {
            "type": "string",
            "description": "Associated customer ID (cust_*)."
          },
          "payments_amount_received": {
            "type": "integer",
            "description": "Total amount received via this QR code (paise)."
          },
          "payments_count_received": {
            "type": "integer",
            "description": "Number of payments received."
          },
          "notes": {
            "$ref": "#/components/schemas/Notes"
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "Item": {
        "type": "object",
        "description": "A reusable catalog item used in invoice line items.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Item ID. Prefix: item_"
          },
          "entity": {
            "type": "string",
            "enum": [
              "item"
            ]
          },
          "active": {
            "type": "boolean",
            "description": "Whether the item is active and available for use in new invoices."
          },
          "amount": {
            "type": "integer",
            "description": "Item price in paise (smallest INR unit)."
          },
          "unit_amount": {
            "type": "integer",
            "description": "Per-unit price in paise."
          },
          "currency": {
            "type": "string",
            "default": "INR"
          },
          "name": {
            "type": "string",
            "description": "Display name of the item."
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "InvoiceLineItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Line item ID. Prefix: li_"
          },
          "item_id": {
            "type": "string",
            "description": "Referenced catalog item ID (item_*). Null for ad-hoc line items."
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "amount": {
            "type": "integer",
            "description": "Total line amount in paise (unit_amount \u00d7 quantity)."
          },
          "unit_amount": {
            "type": "integer",
            "description": "Per-unit price in paise."
          },
          "quantity": {
            "type": "integer",
            "default": 1
          },
          "currency": {
            "type": "string",
            "default": "INR"
          },
          "type": {
            "type": "string",
            "enum": [
              "invoice",
              "payment_page"
            ]
          }
        }
      },
      "Invoice": {
        "type": "object",
        "description": "An invoice or payment page sent to a customer for payment. Cannot be used to create GST invoices (those must be created via the Dashboard).",
        "properties": {
          "id": {
            "type": "string",
            "description": "Invoice ID. Prefix: inv_"
          },
          "entity": {
            "type": "string",
            "enum": [
              "invoice"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "invoice",
              "link"
            ],
            "description": "invoice: a formal invoice document. link: a payment page / payment link."
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "issued",
              "partially_paid",
              "paid",
              "cancelled",
              "expired",
              "deleted"
            ],
            "description": "Invoice lifecycle status. draft\u2192issued\u2192paid/partially_paid/cancelled/expired."
          },
          "invoice_number": {
            "type": "string",
            "description": "Auto-generated invoice number (e.g. INV-001)."
          },
          "customer_id": {
            "type": "string",
            "description": "Customer ID (cust_*)."
          },
          "customer": {
            "type": "object",
            "description": "Inline customer details snapshot at time of invoice creation."
          },
          "order_id": {
            "type": "string",
            "description": "Associated order ID (order_*)."
          },
          "line_items": {
            "type": "array",
            "maxItems": 50,
            "description": "Up to 50 line items.",
            "items": {
              "$ref": "#/components/schemas/InvoiceLineItem"
            }
          },
          "payment_id": {
            "type": "string",
            "description": "Payment ID (pay_*) of the successful payment, if paid."
          },
          "currency": {
            "type": "string",
            "default": "INR"
          },
          "gross_amount": {
            "type": "integer",
            "description": "Sum of all line item amounts before tax (paise)."
          },
          "tax_amount": {
            "type": "integer",
            "description": "Total tax amount (paise)."
          },
          "taxable_amount": {
            "type": "integer",
            "description": "Taxable base amount (paise)."
          },
          "amount": {
            "type": "integer",
            "description": "Total invoice amount including tax (paise)."
          },
          "amount_paid": {
            "type": "integer",
            "description": "Amount received so far (paise). Relevant for partial_payment invoices."
          },
          "amount_due": {
            "type": "integer",
            "description": "Remaining amount due (paise)."
          },
          "short_url": {
            "type": "string",
            "description": "Hosted payment page URL to send to the customer."
          },
          "partial_payment": {
            "type": "boolean",
            "description": "If true, customer can pay any amount \u2265 first_payment_min_amount."
          },
          "first_payment_min_amount": {
            "type": "integer",
            "description": "Minimum amount for the first partial payment (paise). Required when partial_payment=true."
          },
          "receipt": {
            "type": "string",
            "description": "Your internal reference number."
          },
          "description": {
            "type": "string"
          },
          "comment": {
            "type": "string",
            "description": "Internal comment (not shown on invoice)."
          },
          "terms": {
            "type": "string",
            "description": "Payment terms shown on the invoice."
          },
          "notes": {
            "$ref": "#/components/schemas/Notes"
          },
          "expire_by": {
            "type": "integer",
            "description": "Unix timestamp after which the invoice expires and cannot be paid."
          },
          "issued_at": {
            "type": "integer"
          },
          "paid_at": {
            "type": "integer"
          },
          "cancelled_at": {
            "type": "integer"
          },
          "expired_at": {
            "type": "integer"
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "Plan": {
        "type": "object",
        "description": "A billing plan defining the recurring charge amount and frequency. Reusable across multiple subscriptions.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Plan ID. Prefix: plan_"
          },
          "entity": {
            "type": "string",
            "enum": [
              "plan"
            ]
          },
          "interval": {
            "type": "integer",
            "description": "Number of periods between charges. For daily period, minimum interval is 7."
          },
          "period": {
            "type": "string",
            "enum": [
              "daily",
              "weekly",
              "monthly",
              "quarterly",
              "yearly"
            ],
            "description": "Billing frequency unit. daily requires interval \u2265 7."
          },
          "item": {
            "$ref": "#/components/schemas/Item",
            "description": "The item (price, currency, name) billed each cycle."
          },
          "notes": {
            "$ref": "#/components/schemas/Notes"
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "Subscription": {
        "type": "object",
        "description": "A recurring billing subscription linking a customer to a plan. Requires customer mandate authorization via short_url before charges can be collected.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Subscription ID. Prefix: sub_"
          },
          "entity": {
            "type": "string",
            "enum": [
              "subscription"
            ]
          },
          "plan_id": {
            "type": "string",
            "description": "Associated plan ID (plan_*)."
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "authenticated",
              "active",
              "pending",
              "halted",
              "cancelled",
              "completed",
              "expired",
              "paused"
            ],
            "description": "Subscription lifecycle status. created\u2192authenticated (mandate authorized)\u2192active\u2192completed/cancelled/expired. pending=charge retry scheduled; halted=multiple failures; paused=temporarily stopped."
          },
          "current_start": {
            "type": "integer",
            "description": "Unix timestamp of current billing cycle start."
          },
          "current_end": {
            "type": "integer",
            "description": "Unix timestamp of current billing cycle end."
          },
          "ended_at": {
            "type": "integer",
            "description": "Unix timestamp when subscription ended (cancelled/completed/expired)."
          },
          "quantity": {
            "type": "integer",
            "default": 1,
            "description": "Number of plan units billed per cycle."
          },
          "notes": {
            "$ref": "#/components/schemas/Notes"
          },
          "charge_at": {
            "type": "integer",
            "description": "Unix timestamp of next scheduled charge attempt."
          },
          "start_at": {
            "type": "integer",
            "description": "Unix timestamp of first charge. Defaults to subscription creation time."
          },
          "end_at": {
            "type": "integer",
            "description": "Unix timestamp after which no more charges will be attempted."
          },
          "auth_attempts": {
            "type": "integer",
            "description": "Number of mandate authorization attempts."
          },
          "total_count": {
            "type": "integer",
            "description": "Total billing cycles. 0 = indefinite."
          },
          "paid_count": {
            "type": "integer",
            "description": "Number of billing cycles successfully charged."
          },
          "remaining_count": {
            "type": "integer",
            "description": "Remaining billing cycles."
          },
          "customer_notify": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "1 = Razorpay sends SMS/email notifications to customer on each charge."
          },
          "short_url": {
            "type": "string",
            "description": "Mandate authorization URL. Must be sent to the customer to activate the subscription."
          },
          "has_scheduled_changes": {
            "type": "boolean",
            "description": "True if a plan/quantity change is scheduled for the next cycle."
          },
          "change_scheduled_at": {
            "type": "string",
            "enum": [
              "now",
              "cycle_end"
            ],
            "description": "When scheduled changes take effect."
          },
          "source": {
            "type": "string",
            "description": "Source that created the subscription (e.g., api, dashboard)."
          },
          "offer_id": {
            "type": "string",
            "description": "Offer/coupon applied to the subscription."
          },
          "expire_by": {
            "type": "integer",
            "description": "Unix timestamp by which the customer must authorize the mandate."
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "LinkedAccount": {
        "type": "object",
        "description": "A sub-merchant (Linked Account) created under a Route marketplace account. Linked Accounts can receive transfers and settlements. Prefix: acc_",
        "properties": {
          "id": {
            "type": "string",
            "description": "Account ID. Prefix: acc_"
          },
          "type": {
            "type": "string",
            "enum": [
              "route"
            ],
            "description": "Account type. Always 'route' for Route marketplace accounts."
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "suspended"
            ],
            "description": "Account status."
          },
          "email": {
            "type": "string",
            "description": "Contact email. Cannot be updated after creation."
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number with country code (e.g., +919876543210)."
          },
          "legal_business_name": {
            "type": "string",
            "description": "Registered legal name of the business."
          },
          "business_type": {
            "type": "string",
            "enum": [
              "route"
            ],
            "description": "Business type. Cannot be updated after creation."
          },
          "profile": {
            "type": "object",
            "properties": {
              "category": {
                "type": "string",
                "description": "Business category (e.g., healthcare, education, ecommerce)."
              },
              "subcategory": {
                "type": "string",
                "description": "Business subcategory."
              },
              "addresses": {
                "type": "object",
                "properties": {
                  "registered": {
                    "type": "object",
                    "properties": {
                      "street1": {
                        "type": "string"
                      },
                      "street2": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "postal_code": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      }
                    }
                  },
                  "operation": {
                    "type": "object",
                    "properties": {
                      "street1": {
                        "type": "string"
                      },
                      "street2": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "postal_code": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "legal_info": {
            "type": "object",
            "properties": {
              "pan": {
                "type": "string",
                "description": "Business PAN number."
              },
              "gst": {
                "type": "string",
                "description": "GST number (22 chars)."
              }
            }
          },
          "contact_name": {
            "type": "string",
            "description": "Name of the primary contact person."
          },
          "contact_info": {
            "type": "object",
            "properties": {
              "chargeback": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "policy_url": {
                    "type": "string"
                  }
                }
              },
              "refund": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "policy_url": {
                    "type": "string"
                  }
                }
              },
              "support": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "policy_url": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "apps": {
            "type": "object",
            "properties": {
              "websites": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "android": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              },
              "ios": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "notes": {
            "$ref": "#/components/schemas/Notes"
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "Stakeholder": {
        "type": "object",
        "description": "A business owner or director associated with a Linked Account. Only one stakeholder is allowed per Route Linked Account. Prefix: sth_",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stakeholder ID. Prefix: sth_"
          },
          "entity": {
            "type": "string",
            "enum": [
              "stakeholder"
            ]
          },
          "name": {
            "type": "string",
            "description": "Full name of the stakeholder."
          },
          "email": {
            "type": "string",
            "description": "Email address."
          },
          "percentage_ownership": {
            "type": "number",
            "description": "Ownership percentage (0-100)."
          },
          "relationship": {
            "type": "object",
            "properties": {
              "director": {
                "type": "boolean",
                "description": "True if the stakeholder is a company director."
              },
              "executive": {
                "type": "boolean",
                "description": "True if the stakeholder is an executive."
              }
            }
          },
          "phone": {
            "type": "object",
            "properties": {
              "primary": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string"
                  },
                  "country_code": {
                    "type": "string"
                  }
                }
              },
              "secondary": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string"
                  },
                  "country_code": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "addresses": {
            "type": "object",
            "properties": {
              "residential": {
                "type": "object",
                "properties": {
                  "street": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "postal_code": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "kyc": {
            "type": "object",
            "properties": {
              "pan": {
                "type": "string",
                "description": "Individual PAN. 4th character must be 'P'."
              }
            }
          },
          "notes": {
            "$ref": "#/components/schemas/Notes"
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "ProductConfiguration": {
        "type": "object",
        "description": "Route product configuration for a Linked Account. Controls settlement account details and tracks activation status. Prefix: acc_prd_",
        "properties": {
          "id": {
            "type": "string",
            "description": "Product configuration ID. Prefix: acc_prd_"
          },
          "account_id": {
            "type": "string",
            "description": "Linked Account ID this configuration belongs to."
          },
          "product_name": {
            "type": "string",
            "enum": [
              "route"
            ],
            "description": "Product name. Always 'route' for Route product."
          },
          "activation_status": {
            "type": "string",
            "enum": [
              "requested",
              "needs_clarification",
              "under_review",
              "activated",
              "suspended"
            ],
            "description": "Current activation status. Progresses from requested \u2192 under_review \u2192 activated. needs_clarification requires additional info from the merchant."
          },
          "tnc": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "accepted": {
                "type": "boolean"
              },
              "accepted_at": {
                "type": "integer",
                "description": "Unix timestamp when TnC was accepted."
              }
            }
          },
          "requested_configuration": {
            "type": "object",
            "description": "Configuration details provided during activation request."
          },
          "active_configuration": {
            "type": "object",
            "properties": {
              "settlements": {
                "type": "object",
                "properties": {
                  "account_number": {
                    "type": "string",
                    "description": "Bank account number for settlements."
                  },
                  "ifsc_code": {
                    "type": "string",
                    "description": "IFSC code of the settlement bank."
                  },
                  "beneficiary_name": {
                    "type": "string",
                    "description": "Account holder name."
                  }
                }
              }
            }
          },
          "requirements": {
            "type": "array",
            "description": "List of pending requirements needed for activation.",
            "items": {
              "type": "object",
              "properties": {
                "field_reference": {
                  "type": "string"
                },
                "resolution_url": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "reason_code": {
                  "type": "string"
                }
              }
            }
          },
          "requested_at": {
            "type": "integer",
            "description": "Unix timestamp when product was requested."
          }
        }
      },
      "Transfer": {
        "type": "object",
        "description": "A fund transfer from a merchant or captured payment to a Linked Account (Route). Minimum amount is \u20b9100 (10000 paise). INR only. Prefix: trf_",
        "properties": {
          "id": {
            "type": "string",
            "description": "Transfer ID. Prefix: trf_"
          },
          "entity": {
            "type": "string",
            "enum": [
              "transfer"
            ]
          },
          "source": {
            "type": "string",
            "description": "Source entity ID (payment ID, order ID, or merchant account ID for direct transfers)."
          },
          "recipient": {
            "type": "string",
            "description": "Destination Linked Account ID (acc_*)."
          },
          "amount": {
            "type": "integer",
            "description": "Transfer amount in paise. Minimum 10000 (\u20b9100)."
          },
          "currency": {
            "type": "string",
            "enum": [
              "INR"
            ],
            "description": "Always INR for transfers."
          },
          "amount_reversed": {
            "type": "integer",
            "description": "Total amount reversed so far in paise."
          },
          "fees": {
            "type": "integer",
            "description": "Transfer fee charged in paise."
          },
          "tax": {
            "type": "integer",
            "description": "GST on transfer fee in paise."
          },
          "transfer_status": {
            "type": "string",
            "enum": [
              "created",
              "pending",
              "processed",
              "failed",
              "reversed",
              "partially_reversed"
            ],
            "description": "Transfer processing status."
          },
          "settlement_status": {
            "type": "string",
            "enum": [
              "pending",
              "on_hold",
              "settled"
            ],
            "description": "Settlement status of the transferred funds in the Linked Account."
          },
          "on_hold": {
            "type": "boolean",
            "description": "If true, settlement of this transfer is on hold."
          },
          "on_hold_until": {
            "type": "integer",
            "description": "Unix timestamp until which settlement is on hold. null means indefinite hold."
          },
          "recipient_settlement_id": {
            "type": "string",
            "description": "Settlement ID (setl_*) in the Linked Account once settled."
          },
          "notes": {
            "$ref": "#/components/schemas/Notes"
          },
          "linked_account_notes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Keys from notes that will be visible to the Linked Account in their dashboard."
          },
          "created_at": {
            "type": "integer"
          },
          "processed_at": {
            "type": "integer",
            "description": "Unix timestamp when the transfer was processed."
          }
        }
      },
      "Reversal": {
        "type": "object",
        "description": "A reversal of a transfer \u2014 moves funds back from the Linked Account to the merchant. Partial reversals are supported and multiple reversals per transfer are allowed. Prefix: rvrsl_",
        "properties": {
          "id": {
            "type": "string",
            "description": "Reversal ID. Prefix: rvrsl_"
          },
          "entity": {
            "type": "string",
            "enum": [
              "reversal"
            ]
          },
          "transfer_id": {
            "type": "string",
            "description": "Transfer ID being reversed (trf_*)."
          },
          "amount": {
            "type": "integer",
            "description": "Reversed amount in paise."
          },
          "currency": {
            "type": "string",
            "enum": [
              "INR"
            ]
          },
          "notes": {
            "$ref": "#/components/schemas/Notes"
          },
          "initiator_id": {
            "type": "string",
            "description": "ID of the entity that initiated the reversal."
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "VirtualAccount": {
        "type": "object",
        "description": "A virtual bank account or VPA that accepts NEFT/RTGS/IMPS/UPI payments (Smart Collect). Each payment creates a BankTransfer entity. Auto-closes after 90 days of inactivity. Prefix: va_",
        "properties": {
          "id": {
            "type": "string",
            "description": "Virtual account ID. Prefix: va_"
          },
          "name": {
            "type": "string",
            "description": "Display name of the virtual account."
          },
          "entity": {
            "type": "string",
            "enum": [
              "virtual_account"
            ]
          },
          "description": {
            "type": "string",
            "description": "Purpose or description of the virtual account."
          },
          "amount_expected": {
            "type": "integer",
            "description": "Expected payment amount in paise. 0 means any amount is accepted."
          },
          "amount_paid": {
            "type": "integer",
            "description": "Total amount received so far in paise."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "closed"
            ],
            "description": "active = accepting payments; closed = no longer accepting payments."
          },
          "receivers": {
            "type": "array",
            "description": "Payment receivers assigned to this virtual account. Can include bank_account (ba_*) and/or vpa (vpa_*) receivers.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Receiver ID. Prefix: ba_ for bank account, vpa_ for VPA."
                },
                "entity": {
                  "type": "string",
                  "enum": [
                    "bank_account",
                    "vpa"
                  ]
                },
                "ifsc": {
                  "type": "string",
                  "description": "IFSC code (bank accounts only)."
                },
                "bank_name": {
                  "type": "string",
                  "description": "Bank name (bank accounts only)."
                },
                "name": {
                  "type": "string",
                  "description": "Account holder name (bank accounts) or VPA address (VPAs)."
                },
                "notes": {
                  "$ref": "#/components/schemas/Notes"
                },
                "account_number": {
                  "type": "string",
                  "description": "Virtual account number (bank accounts only)."
                },
                "username": {
                  "type": "string",
                  "description": "UPI username part of the VPA (VPAs only)."
                },
                "handle": {
                  "type": "string",
                  "description": "UPI handle (e.g., razorpay) (VPAs only)."
                },
                "flow": {
                  "type": "string",
                  "enum": [
                    "upi_qr"
                  ],
                  "description": "Flow type for VPA receivers."
                }
              }
            }
          },
          "close_by": {
            "type": "integer",
            "description": "Unix timestamp by which the account will auto-close. Maximum value: 2147483647."
          },
          "closed_at": {
            "type": "integer",
            "description": "Unix timestamp when the account was closed."
          },
          "customer_id": {
            "type": "string",
            "description": "Customer ID linked to this virtual account (cust_*)."
          },
          "notes": {
            "$ref": "#/components/schemas/Notes"
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "BankTransfer": {
        "type": "object",
        "description": "A payment received into a Virtual Account via bank transfer (NEFT/RTGS/IMPS/UPI). Created automatically when a payer sends funds to the virtual account. Prefix: bt_",
        "properties": {
          "id": {
            "type": "string",
            "description": "Bank transfer ID. Prefix: bt_"
          },
          "entity": {
            "type": "string",
            "enum": [
              "bank_transfer"
            ]
          },
          "payment_id": {
            "type": "string",
            "description": "Razorpay payment ID generated for this bank transfer (pay_*)."
          },
          "mode": {
            "type": "string",
            "enum": [
              "NEFT",
              "RTGS",
              "IMPS",
              "UPI"
            ],
            "description": "Transfer mode used by the payer."
          },
          "amount": {
            "type": "integer",
            "description": "Amount received in paise."
          },
          "payer_bank_account": {
            "type": "object",
            "description": "Payer's bank account details.",
            "properties": {
              "id": {
                "type": "string"
              },
              "entity": {
                "type": "string",
                "enum": [
                  "bank_account"
                ]
              },
              "ifsc": {
                "type": "string"
              },
              "bank_name": {
                "type": "string"
              },
              "name": {
                "type": "string",
                "description": "Account holder name."
              },
              "notes": {
                "$ref": "#/components/schemas/Notes"
              },
              "account_number": {
                "type": "string"
              }
            }
          },
          "bank_reference": {
            "type": "string",
            "description": "UTR (Unique Transaction Reference) number from the bank."
          },
          "virtual_account_id": {
            "type": "string",
            "description": "Virtual account that received this transfer (va_*)."
          },
          "virtual_account": {
            "$ref": "#/components/schemas/VirtualAccount"
          }
        }
      },
      "Bill": {
        "type": "object",
        "description": "A Razorpay Billme digital receipt/bill. Used for retail, food & beverage, events, ecommerce, and other use cases.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Bill ID with prefix bill_"
          },
          "business_type": {
            "type": "string",
            "enum": [
              "ecommerce",
              "retail",
              "food_and_beverage",
              "events"
            ]
          },
          "business_category": {
            "type": "string"
          },
          "customer": {
            "type": "object",
            "properties": {
              "contact": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "customer_id": {
                "type": "string"
              },
              "addresses": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          },
          "employee": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "loyalty": {
            "type": "object",
            "properties": {
              "points": {
                "type": "integer"
              },
              "redeemed_points": {
                "type": "integer"
              }
            }
          },
          "store_code": {
            "type": "string"
          },
          "receipt_timestamp": {
            "type": "integer",
            "description": "Unix timestamp of the transaction"
          },
          "receipt_number": {
            "type": "string"
          },
          "receipt_type": {
            "type": "string",
            "enum": [
              "tax_invoice",
              "sales_invoice",
              "bill_of_supply",
              "credit_note",
              "debit_note"
            ]
          },
          "receipt_delivery": {
            "type": "string",
            "enum": [
              "digital",
              "print",
              "digital_and_print"
            ]
          },
          "tags": {
            "type": "object"
          },
          "bar_code_number": {
            "type": "string"
          },
          "qr_code_number": {
            "type": "string"
          },
          "billing_pos_number": {
            "type": "string"
          },
          "pos_category": {
            "type": "string"
          },
          "order_number": {
            "type": "string"
          },
          "order_service_type": {
            "type": "string",
            "enum": [
              "dine_in",
              "takeaway",
              "delivery"
            ]
          },
          "delivery_status_url": {
            "type": "string"
          },
          "line_items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "quantity": {
                  "type": "number"
                },
                "unit_amount": {
                  "type": "integer"
                },
                "unit": {
                  "type": "string"
                },
                "hsn_code": {
                  "type": "string"
                },
                "product_code": {
                  "type": "string"
                },
                "total_amount": {
                  "type": "integer"
                },
                "taxes": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "sub_items": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "tags": {
                  "type": "object"
                }
              }
            }
          },
          "receipt_summary": {
            "type": "object",
            "properties": {
              "total_quantity": {
                "type": "number"
              },
              "sub_total_amount": {
                "type": "integer"
              },
              "currency": {
                "type": "string"
              },
              "net_payable_amount": {
                "type": "integer"
              },
              "payment_status": {
                "type": "string"
              },
              "discounts": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "taxes": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          },
          "taxes": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "payments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "method": {
                  "type": "string"
                },
                "currency": {
                  "type": "string"
                },
                "amount": {
                  "type": "integer"
                },
                "payment_reference_id": {
                  "type": "string"
                },
                "financier_data": {
                  "type": "object"
                }
              }
            }
          },
          "event": {
            "type": "object",
            "description": "Event details for events business type"
          },
          "irn": {
            "type": "string",
            "description": "Invoice Reference Number for GST e-invoicing"
          },
          "receipt_url": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "PartnerAccount": {
        "type": "object",
        "description": "A sub-merchant account created by a Partner (Aggregator/Platform) via the Partners API. Uses OAuth access_token authentication. Type=standard for Partners vs type=route for Route API.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Account ID with prefix acc_"
          },
          "type": {
            "type": "string",
            "enum": [
              "standard",
              "route"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "activated",
              "needs_clarification",
              "under_review",
              "suspended",
              "rejected"
            ]
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "legal_business_name": {
            "type": "string"
          },
          "customer_facing_business_name": {
            "type": "string"
          },
          "business_type": {
            "type": "string"
          },
          "reference_id": {
            "type": "string",
            "description": "Partner's internal reference for this merchant"
          },
          "profile": {
            "type": "object",
            "properties": {
              "category": {
                "type": "string"
              },
              "subcategory": {
                "type": "string"
              },
              "business_model": {
                "type": "string"
              },
              "addresses": {
                "type": "object",
                "properties": {
                  "registered": {
                    "type": "object",
                    "properties": {
                      "street1": {
                        "type": "string"
                      },
                      "street2": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "postal_code": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "legal_info": {
            "type": "object",
            "properties": {
              "pan": {
                "type": "string"
              },
              "gst": {
                "type": "string"
              },
              "cin": {
                "type": "string"
              }
            }
          },
          "brand": {
            "type": "object",
            "properties": {
              "color": {
                "type": "string"
              }
            }
          },
          "contact_name": {
            "type": "string"
          },
          "contact_info": {
            "type": "object",
            "properties": {
              "chargeback": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                }
              },
              "refund": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                }
              },
              "support": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "policy_url": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "apps": {
            "type": "object"
          },
          "notes": {
            "type": "object"
          },
          "activated_at": {
            "type": "integer"
          },
          "live": {
            "type": "boolean"
          },
          "hold_funds": {
            "type": "boolean"
          },
          "suspended_at": {
            "type": "integer"
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "PartnerProductConfiguration": {
        "type": "object",
        "description": "Product configuration for a sub-merchant account. Partners configure payment_gateway or payment_links; Route API uses 'route'. One payment method can be updated per PATCH request.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Product config ID with prefix acc_prd_"
          },
          "account_id": {
            "type": "string"
          },
          "product_name": {
            "type": "string",
            "enum": [
              "payment_gateway",
              "payment_links",
              "route"
            ]
          },
          "activation_status": {
            "type": "string",
            "enum": [
              "under_review",
              "needs_clarification",
              "activated",
              "rejected",
              "suspended"
            ]
          },
          "tnc": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "accepted": {
                "type": "boolean"
              },
              "accepted_at": {
                "type": "integer"
              }
            }
          },
          "requested_configuration": {
            "type": "object"
          },
          "active_configuration": {
            "type": "object",
            "properties": {
              "payment_capture": {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": [
                      "automatic",
                      "manual"
                    ]
                  },
                  "automatic_expiry_period": {
                    "type": "integer"
                  },
                  "manual_expiry_period": {
                    "type": "integer"
                  },
                  "refund_speed": {
                    "type": "string"
                  }
                }
              },
              "settlements": {
                "type": "object",
                "properties": {
                  "account_number": {
                    "type": "string"
                  },
                  "ifsc_code": {
                    "type": "string"
                  },
                  "beneficiary_name": {
                    "type": "string"
                  }
                }
              },
              "checkout": {
                "type": "object"
              },
              "refund": {
                "type": "object"
              },
              "notifications": {
                "type": "object"
              },
              "payment_methods": {
                "type": "object",
                "description": "One payment method can be updated per PATCH request"
              }
            }
          },
          "requirements": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field_reference": {
                  "type": "string"
                },
                "resolution_url": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "reason_code": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          },
          "requested_at": {
            "type": "integer"
          }
        }
      },
      "PartnerStakeholder": {
        "type": "object",
        "description": "A stakeholder (director/executive) associated with a sub-merchant account. Multiple stakeholders allowed per account (unlike Route which allows only 1).",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stakeholder ID with prefix sth_"
          },
          "entity": {
            "type": "string",
            "enum": [
              "stakeholder"
            ]
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "percentage_ownership": {
            "type": "number"
          },
          "relationship": {
            "type": "object",
            "properties": {
              "director": {
                "type": "boolean"
              },
              "executive": {
                "type": "boolean"
              }
            }
          },
          "phone": {
            "type": "object",
            "properties": {
              "primary": {
                "type": "string"
              },
              "secondary": {
                "type": "string"
              }
            }
          },
          "addresses": {
            "type": "object",
            "properties": {
              "residential": {
                "type": "object",
                "properties": {
                  "street": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "postal_code": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "kyc": {
            "type": "object",
            "properties": {
              "pan": {
                "type": "string"
              }
            }
          },
          "notes": {
            "type": "object"
          }
        }
      },
      "PartnerWebhook": {
        "type": "object",
        "description": "A webhook configured for a sub-merchant account via the Partners API. Maximum 30 webhooks per account.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Webhook ID, max 14 characters"
          },
          "entity": {
            "type": "string",
            "enum": [
              "webhook"
            ]
          },
          "owner_id": {
            "type": "string"
          },
          "owner_type": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "description": "HTTPS URL to receive webhook events"
          },
          "alert_email": {
            "type": "string"
          },
          "secret": {
            "type": "string",
            "description": "Shared secret for HMAC verification (write-only)"
          },
          "secret_exists": {
            "type": "boolean"
          },
          "active": {
            "type": "boolean"
          },
          "events": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Map of event names to boolean"
          },
          "service": {
            "type": "string"
          },
          "context": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "disabled_at": {
            "type": "integer"
          },
          "created_at": {
            "type": "integer"
          },
          "updated_at": {
            "type": "integer"
          }
        }
      },
      "AccountDocument": {
        "type": "object",
        "description": "KYC documents for a sub-merchant account. Files must be JPG/PNG (max 4MB) or PDF (max 2MB).",
        "properties": {
          "business_proof_of_identification": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "business_proof_url",
                    "gst_certificate",
                    "shop_establishment_certificate",
                    "certificate_of_incorporation",
                    "trust_deed",
                    "society_registration_certificate"
                  ]
                },
                "document_id": {
                  "type": "string"
                }
              }
            }
          },
          "business_proof_of_address": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "document_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "StakeholderDocument": {
        "type": "object",
        "description": "KYC documents for a stakeholder. Supports PAN, Aadhaar, passport, and voter ID. Files must be JPG/PNG (max 4MB) or PDF (max 2MB).",
        "properties": {
          "individual_proof_of_address": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "aadhar_front",
                    "aadhar_back",
                    "passport_front",
                    "passport_back",
                    "voter_id_front",
                    "voter_id_back"
                  ]
                },
                "url": {
                  "type": "string"
                },
                "document_id": {
                  "type": "string"
                }
              }
            }
          },
          "individual_proof_of_identification": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "personal_pan"
                  ]
                },
                "url": {
                  "type": "string"
                },
                "document_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "XContact": {
        "type": "object",
        "description": "RazorpayX payout recipient. Created before sending payouts.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Contact ID (cont_*)"
          },
          "entity": {
            "type": "string",
            "enum": [
              "contact"
            ]
          },
          "name": {
            "type": "string",
            "minLength": 3,
            "maxLength": 50
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "contact": {
            "type": "string",
            "description": "Phone number"
          },
          "type": {
            "type": "string",
            "enum": [
              "vendor",
              "customer",
              "employee",
              "self"
            ],
            "description": "Built-in types only via API; custom types must be created on Dashboard first"
          },
          "reference_id": {
            "type": "string",
            "maxLength": 40,
            "description": "External reference (must be unique per merchant)"
          },
          "batch_id": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "notes": {
            "type": "object"
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp"
          }
        }
      },
      "FundAccount": {
        "type": "object",
        "description": "Payout destination linked to a Contact. Immutable after creation.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Fund account ID (fa_*)"
          },
          "entity": {
            "type": "string",
            "enum": [
              "fund_account"
            ]
          },
          "contact_id": {
            "type": "string"
          },
          "account_type": {
            "type": "string",
            "enum": [
              "bank_account",
              "vpa",
              "card",
              "wallet"
            ]
          },
          "active": {
            "type": "boolean"
          },
          "batch_id": {
            "type": "string"
          },
          "bank_account": {
            "type": "object",
            "properties": {
              "ifsc": {
                "type": "string"
              },
              "bank_name": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "account_number": {
                "type": "string"
              }
            }
          },
          "vpa": {
            "type": "object",
            "properties": {
              "username": {
                "type": "string"
              },
[...]
